// Card spacing
.MuiCardContent-root {
	padding: 8px 12px !important;
}

// Sticky table-header
.MuiTableContainer-root {
	overflow: visible !important;
}

// Cursor on button
.MuiButton-root {
	cursor: default !important;
}

// Proper spacing of card-images
#search-page,
#video-page {
	.MuiCardMedia-img {
		// Required to fix oddly shaped images
		//> omitting this, causes only the center of the image to be displayed
		object-fit: inherit;
	}
}
