@import '_variables';

.text-center {
	text-align: center;
}

.img-thumbnail {
	width: 100%;
	padding: 0.25rem;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
}

.border {
	border: 1px solid red;
}

.d {
	&-block {
		display: block !important;
	}

	&-inline-block {
		display: inline-block !important;
	}

	&-none {
		display: none !important;
	}
}

.m {
	&-0 {
		margin: 0 !important;
	}
}

.p {
	&-0 {
		padding: 0 !important;
	}

	&y-0 {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	&x-1 {
		padding-left: 1 * $spacing !important;
		padding-right: 1 * $spacing !important;
	}

	&x-2 {
		padding-left: 2 * $spacing !important;
		padding-right: 2 * $spacing !important;
	}
}
