@import 'context-menu';
@import 'material-ui';
@import 'util';

body {
	font-family: 'Roboto', sans-serif;
}

/* Star */
.star {
	&__image {
		// Prevent large images from being oversized
		max-height: 275px;
		max-width: 200px;
	}
}

.video {
	text-decoration: none !important;
	color: black;

	&__title {
		text-align: center;
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		font-weight: 500;
		margin-bottom: 0.3em;
		margin-top: 0.3em;
	}
}

button {
	min-width: 0 !important;
}

.divider {
	color: grey;

	&::before,
	&::after {
		content: ' ';
	}
}

.unselectable,
.react-contextmenu-item,
label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

a {
	text-decoration: none;
}

.card {
	padding: 0;

	&__title {
		&--fixed-height {
			display: flex;
			align-items: center;

			&.height-1 {
				height: 24px;
			}
			&.height-2 {
				height: 24px * 2;
			}
			&.height-3 {
				height: 24px * 3;
			}
			&.height-4 {
				height: 24px * 3;
			}
		}
	}
}

.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 1px 1px rgb(137, 159, 255);
}
