// TODO cannot be converted to .css, h2,img are not avaliable as modules

#sidebar {
  h2 {
    margin-bottom: 0;
  }
}

#stars {
  #count {
    color: blue;
  }

  .star {
    margin: 5px;
    width: var(--star-width);

    img {
      height: var(--star-height);
    }

    .title {
      padding: 0 2px;
      align-items: center;
      height: 24px * 2;
    }
  }
}
