@import '@styles/functions';

#star-page {
	#star {
		#dropbox {
			width: 200px;
			height: 275px;
			border: 2px dashed rgba(255, 0, 0, 0.3);

			&.hover {
				border-color: red;
			}

			.label {
				position: relative;
				text-align: center;
				top: 50%;
			}
		}

		label.Mui-error {
			font-weight: bold;
			color: black;
		}

		.MuiInput-underline.Mui-error::after {
			border-bottom-color: black;
		}

		input {
			text-transform: capitalize;
		}

		.attribute {
			margin-right: 0.5em;
		}
	}

	.video {
		margin: 0 10px 10px 5px;
		width: $thumbnailWidth + px;
	}
}
