@import 'context-menu';

/* Star */
.star {
	&__image {
		// Prevent large images from beeing oversized
		max-height: 275px;
		max-width: 200px;
	}
}

.video {
	text-decoration: none !important;
	color: black;

	span {
		text-align: center;
	}
}

.btn {
	cursor: default !important;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-family: 'Roboto', sans-serif;
	}
}

.divider {
	color: grey;

	&:before,
	&:after {
		content: ' ';
	}
}

.unselectable,
.react-contextmenu-item,
label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

.btn-link,
a {
	text-decoration: none;
}
