#header {
  margin-bottom: 15px;

  #censored {
    #divider {
      color: black;
      margin-left: 0.2em;
      margin-right: 0.3em;
    }

    #label {
      font-size: 0.6em;
      color: red;
      vertical-align: middle;
    }
  }

  button {
    margin-left: 15px;
    color: black;

    svg {
      margin-right: 5px;
    }
  }
}
