@import '@styles/variables';

#timeline {
  position: relative;
  margin-left: 95px;
  margin-right: 95px;

  .bookmark {
    position: absolute;
    white-space: nowrap;
    border-width: 1px;

    [id^='bookmark-info-'] {
      opacity: 1;
      padding-bottom: 12px;

      .btn {
        display: block;
        margin-top: 3px;

        &:first-of-type {
          margin-top: 6px;
        }
      }

      img {
        width: $starWidth + px;
      }
    }
  }
}
