// TODO cannot be converted to .css, img are not avaliable as modules

#timeline {
  position: relative;
  margin-left: 95px;
  margin-right: 95px;

  .bookmark {
    position: absolute;
    white-space: nowrap;
    border-width: 1px;

    .tooltip {
      opacity: 1;
      z-index: 1;
      padding-bottom: 12px;

      .btn {
        display: block;
        margin-top: 3px;
      }

      img {
        width: var(--starWidth);
      }
    }
  }
}
