// TODO cannot be converted to .css, img are not avaliable as modules

#timeline {
  position: relative;
  margin-left: 20px;
  margin-right: 25px;

  .bookmark {
    position: absolute;
    white-space: nowrap;
    border-width: 1px;

    .tooltip {
      z-index: 11; // 10 is the z-index for the video controls
      padding-bottom: 12px;

      .btn {
        display: block;
        margin-top: 3px;
      }

      img {
        width: var(--starWidth);
      }
    }
  }
}
