@import '../styles/functions';

#search-page {
	h2 {
		margin-bottom: 0;
	}

	.star,
	.video {
		margin: 5px;

		&.video {
			width: $thumbnailWidth + px;

			img {
				width: inherit;
				height: $thumbnailHeight + px;
			}
		}

		&.star {
			width: $starWidth + px;

			img {
				width: inherit;
				height: $starHeight + px;
			}
		}
	}

	.video {
		margin: 5px;

		width: $thumbnailWidth + px;

		img {
			width: inherit;
			height: $thumbnailHeight + px;
		}
	}

	.input-wrapper {
		margin-bottom: 4%;

		& > input[type='text'] {
			width: 100%;
			padding: 10px;
		}

		& > input[type='checkbox'],
		& > input[type='radio'] {
			transform: scale(1.5);
		}

		& > label {
			margin-left: 5px;
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.4;
		}
	}

	[class^='hidden-'],
	[class*='hidden-'] {
		display: none !important;
	}

	.selected label {
		font-weight: bold;
	}

	.not label {
		color: red;
		font-weight: bold;
	}

	.flag {
		margin-right: 5px;
	}

	.prettydropdown {
		li {
			padding-left: 0.3rem !important;
		}

		.color {
			display: inline-block;
			margin-right: 5px;

			$width: 12px;
			width: $width;
			height: $width;

			border: 1px solid black;
		}
	}

	.count {
		color: blue;
	}

	.global-category {
		text-decoration: underline;
	}
}
