#dropbox {
  width: 200px;
  height: 275px;
  border: 2px dashed rgb(255 0 0 / 30%);

  &.hover {
    border-color: rgb(255 0 0);
  }

  .label {
    position: relative;
    text-align: center;
    top: 50%;
  }
}
