@import '@styles/functions';

#video-page {
	#header {
		margin-bottom: 15px;

		&__title {
			vertical-align: middle;
		}

		&__title,
		&__date,
		&__network,
		&__quality {
			display: inline-block;
		}

		&__censored {
			#divider {
				color: black;
				margin-left: 0.2em;
				margin-right: 0.3em;
			}

			.label {
				font-size: 0.6em;
				color: red;
				vertical-align: middle;
			}
		}

		&__next {
			margin-top: 0.6em;
			float: right;
		}

		button {
			margin-left: 15px;
			color: black;

			i,
			svg {
				$spacing: 5px;

				margin-right: $spacing;

				& + .no-label {
					margin-left: -$spacing;
				}
			}
		}
	}

	#timeline {
		position: relative;
		left: 95px;
		margin-top: 5px;

		.bookmark {
			position: absolute;
			white-space: nowrap;
			//font-weight: 700;
			border-width: 1px;

			@include bookmarkPosition();

			[id^='bookmark-info-'] {
				opacity: 1;

				.btn {
					display: block;
					margin-top: 3px;

					&:first-of-type {
						margin-top: 6px;
					}
				}
			}
		}
	}

	#sidebar {
		#stars {
			margin-bottom: 3%;
			text-align: center;

			.star {
				margin: 0.5em;

				&--active {
					border: 4px solid green;
				}
			}
		}

		#stars-input {
			margin-top: 3%;
			margin-bottom: 3%;

			.form-group__item {
				margin: 0;
			}
		}

		#franchise {
			margin-bottom: 3%;
			margin-left: 3%;

			.episode {
				align-items: center;
				margin-bottom: 6px;

				&:hover {
					background-color: lightgray;
				}

				.episode__plays {
				}

				.episode__thumbnail {
					padding: 3px 0;
				}

				.episode__title {
					padding: 12px;
				}
			}
		}

		#attributes {
			.attribute {
				margin: 1em 0.5em;
			}
		}

		hr {
			width: 60%;
		}
	}

	.separator {
		&::before,
		&::after {
			content: ' ';
		}
	}
}
