#sidebar {
  h2 {
    margin-bottom: 0;
  }
}

#stars {
  #count {
    color: blue;
  }

  .star {
    margin: 5px;

    width: var(--starWidth);
    img {
      height: var(--starHeight);
    }

    .title {
      padding: 0px 2px;
      align-items: center;
      height: 24px * 2;
    }
  }
}
